<!DOCTYPE html>
<html>

<head>
    <title>Spring Rest Demo</title>
</head>

<body>
    <h1>Spring Rest Demo</h1>

    <hr>

    REST endpoints::
    <ul>
        <li>
            <dl>
                <dt>
                    <a href="test/hello">test/hello</a>
                </dt>
                <dd>Hello work test endpoint</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <a href="api/students">api/students</a>
                </dt>
                <dd>Endpoint to get a list of students</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <a href="api/students/3">api/students/3</a>
                </dt>
                <dd>Endpoint to get a student by id as 3</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <a href="api/students/37">api/students/37</a>,
                    <a href="api/students/abc">api/students/abc</a>
                </dt>
                <dd>Endpoint to get error response in case of exception</dd>
            </dl>
        </li>
    </ul>
</body>

</html>