<!DOCTYPE html>
<html>

<head>
    <title>Spring Rest Demo</title>
</head>

<body>
    <h1>Spring Rest Demo</h1>

    <hr>

    REST endpoints::
    <ul>
        <li>
            <dl>
                <dt>
                    <a href="test/hello">test/hello</a>
                </dt>
                <dd>Hello work test endpoint</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <a href="api/students">api/students</a>
                </dt>
                <dd>Endpoint to get a list of students</dd>
            </dl>
        </li>
    </ul>
</body>

</html>